

.platforms-container {
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenedor en el viewport */
    background: #121619;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten según el ancho del contenedor */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    position: relative;
}



    /* Small screens */
@media (min-width: 400px) {
    .platforms-container {
        padding-top: 150px;
     
       flex-wrap: nowrap;
       padding-right: 50px;
     
    }


    .flotante{
        position: absolute;
        border: 1px solid black;
        top: -48px;
        left: 0;
        right: 0;
        margin: auto 0;
        width: 500px;
    }

    .platforms-header h2{
        opacity: 1;
        font-size: 25px;
    }
}


.flotante{
    position: absolute;
    border: 1px solid black;
   
}

.platforms-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.all-platforms-link {
    color: #fff;
    text-decoration: none;
}

.platform-cards {
    display: flex;
    gap: 20px;
    
}



/* Estilos para tarjetas en todos los tamaños de pantalla */
.platform-card {
    background: hsl(270, 50%, 15%);
    border-radius: 8px;
    padding: 1rem;
    width: 150px; /* Ajusta el ancho según sea necesario */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Esto asegura que cada tarjeta se centre si no llenan todo el ancho del contenedor */
}

@media (max-width: 399px) {
    /* Aquí puedes ajustar estilos específicos para pantallas más pequeñas */
    .platforms-container {
        /* Asegúrate de que el padding-top no empuje el contenido hacia abajo */
        padding-top: 2rem;
    }

    .platform-card {
        /* No es necesario repetir todos los estilos si son iguales fuera de la media query */
        width: 100%; /* O un porcentaje específico para darle más espacio */
    }
}


.platform-name h3 {
    margin: 0;
    font-size: 1rem;
}

.platform-name p {
    margin: 0;
    font-size: 0.8rem;
}

.platform-logo {
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.chaturbate-logo {
    background-image: url('path-to-chaturbate-logo.png');
}

/* Repeat for other platforms, using appropriate classes and images */

.platform-navigation {
    display: flex;
    justify-content: flex-end;
}

.nav-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Add additional styling as necessary */
